
body {
  margin: 10px;
}

.cell-container {
  display: inline-grid;
  grid-template-rows: repeat(9, 50px);
  grid-template-columns: repeat(9, 50px);
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.cell {
  display: block;
  flex: 1;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.cell:nth-child(3n) {
  border-right-width: 2px;
}
.cell:nth-child(-n+9),
.cell:nth-child(n+28):nth-child(-n+36),
.cell:nth-child(n+55):nth-child(-n+63) {
  border-top-width: 2px;
}

.cell-floating {
  display: grid;
  grid-template-rows: repeat(3, 33%);
  grid-template-columns: repeat(3, 33%);
}

.floating-number {
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}
.floating-number.mark-will-remove {
  background-color: #f33;
}
.floating-number.mark-will-select {
  background-color: #3f3;
}
.floating-number.mark-will-highlight {
  background-color: #ff3;
}
.floating-number:hover {
  background-color: #ccc;
  cursor: pointer;
}

.cell-fixed {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell-fixed.mark-will-highlight {
  background-color: #ff3;
}
.cell-fixed:hover {
  background-color: #ccc;
  cursor: pointer;
}